<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    
    <!--
    <script src="/javascripts/Three.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/Detector.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/RequestAnimationFrame.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/Stats.js" type="text/javascript" charset="utf-8"></script>
    -->
  </head>
  <body>
    {{{body}}}
  </body>
</html>
