<p>
  foo bar
</p>
<div id="container"></div>
<script>
  var Faacelift = {
    photos: {{{user_photo_json}}}
  };
</script>
<script src="/javascripts/faacelift.js" type="text/javascript" charset="utf-8"></script>
