<p>
  foo bar
</p>
<div id="container"></div>
<canvas id="canvas"></canvas>
<script src="/javascripts/faacelift2d.js" type="text/javascript" charset="utf-8"></script>
<script>
  Faacelift.photos = {{{user_photo_json}}};
</script>
